.GameHome_container {
  background-color: var(--dark-cyan-blue);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.GameHome_wrapper {
  width: 654px;
  height: 559px;
  left: 393px;
  background: var(--pure-white);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 56px;
}

.main_heading {
  font-weight: 700;
  font-size: 40px;
  color: var(--pure-white);
  margin-bottom: 78px;
}
